@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}

#__next {
	/* height: 100%; */
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

::-webkit-scrollbar-thumb {
	background-color: #0CA364;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.pointer {
	cursor: pointer;
}

/* Position and sizing of burger button */
.bm-burger-button {
	display: none;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
	display: none;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
	position: fixed;
	height: 100%;
	margin-top: 70px;
}

/* General sidebar styles */
.bm-menu {
	background: #1E252C;
}

/* Styling of overlay */
.bm-overlay {
	background: rgba(0, 0, 0, 0.3);
	margin-top: 72px;
}

.bm-item:focus-visible {
	outline: none;
}

input {
	font-family: 'Inter', sans-serif !important;
}

.MuiOutlinedInput-input {
	padding: 14px 16px !important;
}

.MuiFormHelperText-root {
	font-family: 'Inter';
	color: red !important;
	font-size: 12px !important;
	margin-top: 5px;
}

label.p-dropdown-label.p-inputtext {
	border: none !important;
}

.MuiFormLabel-root.Mui-focused {
	color: #67666e !important;
}

.MuiInput-underline:focus:not(.Mui-focused):before,
.MuiInput-underline:active:not(.Mui-focused):before,
.MuiInput-underline:hover:not(.Mui-disabled):before {
	border-bottom: 1px solid #878691 !important;
}

.MuiInput-underline:after {
	border-bottom: 2px solid #878691 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
	border-color: #67666e !important;
}

.PrivateNotchedOutline-root-1 {
	top: 0 !important;
}

.MuiTextField-root {
	width: 100% !important;
}

.form-group p {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #56585A;
	margin: 16px 0 8px 0;

}

.modalCarrinho {
	width: 100vw !important;
	height: 100vh;
	padding: 0 !important;
	margin: 0 !important;
	border-radius: 0 !important;
	background-color: #fff;
}

.modalCarrinho .modal-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	color: none;
	pointer-events: auto;
	background-color: none;
	background-clip: padding-box;
	border: none;
	border-radius: none;
	outline: 0;
}

.swal2-styled.swal2-confirm {
	background: #0CA364 !important;
}

.swal2-styled.swal2-confirm:focus {
	box-shadow: 0 0 0 3px #0ca36485 !important;
}

.PrivateNotchedOutline-root-5 {
	top: 0 !important;
}

@media (min-width: 576px) {
	.modal-dialog {
		max-width: initial;
		margin-left: auto !important;
	}
}