.containerBanner {
	width: 100%;
	height: 144px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 24px;
}

.container {
	padding: 24px 20px;
}

.buttonInicial {
	height: 64px;
	background: #FFFFFF;
	border: 1px solid #DCDDDE;
	border-radius: 4px;
	padding: 0px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 12px;
	cursor: pointer;
}

.buttonInicial p {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #1E252C;
	margin: 0;
}