.container {
	padding: 24px 20px;
	height: calc(100% - 72px);
}

.voltarBtn {
	display: flex;
	align-items: center;
	cursor: pointer;
}

.voltarBtn p {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	color: #384047;
	margin: 0;
	margin-left: 12px;
}

.title {
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #0A1723;
	margin: 24px 0;
}

.subtitle {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #56585A;
	margin: 16px 0 0 0;
}

.buttonP {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #0CA364;
	border-radius: 4px;
	border: none;
	box-shadow: none;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #FFFFFF;
}

.buttonS {
	width: 100%;
	height: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FFF;
	border-radius: 4px;
	border: 1px solid #DCDDDE;
	box-shadow: none;

	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
	color: #1E252C;
}

.alterarSenha {
	margin: 24px 0 16px 0;
	font-family: 'Inter', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #384047;
}

@media screen and (min-width: 991px) {
	.containerDesk {
		position: relative;
		width: 800px;
		margin: 24px auto;
		border-radius: 8px;
		width: 800px;
		padding: 24px;
		border: 1px solid #DCDDDE;
	}

	.containerGeral {
		padding-bottom: 24px;
	}
}