@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
	
*{
	font-family: 'Inter', sans-serif;
}

html {
	min-height: 100%;
	background: #E5E5E5;
}

body{
	min-height: 100%;
} 

#root{
	min-height: 100%;
}

input{
	font-family: 'Inter', sans-serif !important;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);

}

::-webkit-scrollbar-thumb {
	background-color: #0CA364;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

.MuiOutlinedInput-input{
	padding: 14px 16px !important;
	font-family: 'Inter', sans-serif !important;
}

.MuiFormHelperText-root{
	font-family: 'Inter', sans-serif !important;
	color: red !important;
	font-size: 12px !important;
	margin-top: 5px;
} 

.btnPrimario{
	width: 200px;
	height: 48px;
	background: #0CA364;
	border-radius: 4px;
	border: none;
	
	.spinner{
		margin-left: 10px;
	}

	&:hover{
		background: #0e6943 !important;
	}
}

// Primefaces themes
@import "primeicons/primeicons.css";
@import "primereact/resources/primereact.min.css";
@import "primereact/resources/themes/nova/theme.css";
@import "primeicons/primeicons.css";

@-webkit-keyframes fadeInUpContent {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUpContent {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -5%, 0);
        transform: translate3d(0, -5%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUpContent {
    -webkit-animation-name: fadeInUpContent;
    animation-name: fadeInUpContent;
}


.btn-primary {
    background-color: #147dbf !important;
    border-color: #147dbf !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: #36a5eb !important;
    border-color: #36a5eb !important;
    color: #fff !important;
}

.btn-primary:disabled {
    background-color: #67666e !important;
    border-color: #67666e !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #67666e !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #67666e !important;
}

.margin-icon {
    margin-right: 8px;
}

.btn-table-action>i {
    width: 40px !important;
    font-size: 13px !important;
    padding: 0 !important;
}

.btn-table-action {
    margin: 0px 3px 0px 3px;
    height: 40px;
    width: 40px;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-table-action-small>i {
    width: 35px !important;
    font-size: 12px !important;
}

.btn-table-action-small {
    height: 30px;
    width: 30px;
    padding: 0 !important;
}

.p-datatable-wrapper{
	padding: 0 18px;
	background-color: #FFF;
}

.p-datatable-emptymessage {
    height: 100px !important;
    text-align: center !important;
    font-size: 21px !important;
    font-weight: 600 !important;
}

.p-paginator-bottom {
    padding: 10px !important;
    background: #fff !important;
    border: none !important;
    border-bottom-right-radius: 8px !important;
    border-bottom-left-radius: 8px !important;
    text-align: right !important;
}

.p-paginator-current {
    color: #434349 !important;
}

.p-paginator-page.p-highlight {
    background-color: #0CA364 !important;
}

.p-paginator-element.p-link {
    margin: 0px 2px 0px 2px !important;
    border-radius: 5px !important;
}

.p-button {
    margin: 0;
    background-color: #147dbf !important;
    border-radius: 0.25rem !important;
    border: none !important;
}

.p-datatable .p-datatable-thead>tr>th {
    text-align: left !important;
    background-color: #fff !important;
}

.p-datatable .p-datatable-thead>tr {
    height: 50px !important;
}

.p-datatable .p-datatable-tbody>tr>td {
    border: 1px solid #f4f4f4 !important;
}

.p-datatable .p-datatable-thead>tr>th {
    border: 1px solid #f4f4f4 !important;
}

.p-datatable-header {
    background-color: #fff !important;
    border: none !important;
    padding: 18px !important;
	border-top-right-radius: 8px !important;
    border-top-left-radius: 8px !important;

	button{
		min-width: 200px !important;
		width: auto;
	}
}

.p-datatable-loading-overlay.p-component-overlay {
    background-color: #fff !important;
}

.p-datatable-loading-content {
    top: 15% !important;
}

.p-inputtext {
    border: 1px solid #e2e1e1 !important;
}

.p-dropdown-label{
	padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

label.p-dropdown-label.p-inputtext {
    border: none !important;
}

.MuiFormLabel-root.Mui-focused {
    color: #67666e !important;
}

.p-paginator .p-paginator-current{
	margin-left: auto;
}

.MuiInput-underline:focus:not(.Mui-focused):before,
.MuiInput-underline:active:not(.Mui-focused):before,
.MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: 1px solid #878691 !important;
}

.MuiInput-underline:after {
    border-bottom: 2px solid #878691 !important;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #67666e !important;
}

.btn>i.fa-spin {
    padding-right: 0px !important;
    margin-right: 16px !important;
}

.kt-portlet__head-title {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.anexoBtnRemove {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.anexoBackground {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover !important;
}

.anexoContainer {
    margin-top: 15px;
    margin-bottom: 15px;
}

.kt-notification__item-icon>i {
    color: #147dbf !important;
}

body a:hover {
    color: #147dbf !important;
}

.kt-login__title {
    color: #424242 !important;
    font-weight: 600 !important;
}

.kt-login__subtitle {
    font-size: 1.3rem !important;
    color: #616161 !important;
}

.kt-login__copyright {
    color: #424242 !important;
}

.kt-login__menu>a {
    text-decoration: none !important;
    color: #424242 !important;
    text-shadow: 1px 1px 5px #fff !important;
}

.kt-login__menu>a:hover {
    text-decoration: none !important;
    color: #212121 !important;
}

.kt-scrolltop {
    background: #147dbf !important;
}

.btn-app-color {
    border-color: #147dbf !important;
    background-color: white !important;
    color: #147dbf !important;
}

.btn-app-color:hover {
    border-color: #147dbf !important;
    background-color: #147dbf !important;
    color: white !important;
}

.MuiInputBase-input.Mui-disabled {
    color: rgba(0, 0, 0, 0.65) !important;
}

.atalho-dashboard {
    background-color: #147dbf !important;
    color: white !important;
    height: 200px !important;
    font-weight: 600 !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.atalho-dashboard>i {
    font-size: 4.5rem !important;
    margin: 0px 0px 25px 0px !important;
}

.atalho-dashboard>h3 {
    font-size: 1.8rem !important;
    font-weight: 600 !important;
}

.no-content-dashboard {
    margin: 50px 60px 50px 60px;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.no-content-dashboard>i {
    font-size: 5rem !important;
    margin: 0px 0px 40px 0px !important;
}

.no-content-dashboard>h3 {
    font-size: 2.3rem !important;
    font-weight: 600 !important;
}

.no-content-dashboard>p {
    margin-top: 10px !important;
    font-size: 1.2rem !important;
    font-weight: 300 !important;
}

.item-atendimentos-hoje:not(:last-child) {
    margin-bottom: 2.3rem !important;
}

.item-atendimentos-hoje>.kt-timeline-v2__item-text {
    font-size: 1.2rem !important;
    padding: 0.2rem 0 0 5rem !important;
}

.nav-item.nav-link {
    padding: 15px 10px 15px 10px !important;
    color: #444 !important;
    border-radius: 0 !important;
}

.nav-item.nav-link:hover:not(.active) {
    color: #999 !important;
    border: 1px solid transparent !important;
}

.nav-item.nav-link.active {
    border-radius: 0px !important;
    border-top: 3px solid #147dbf !important;
    font-weight: 500 !important;
}

.nav-item.nav-link:first-child {
    border-left: 1px solid transparent !important;
}

.nav-tabs {
    border-bottom: 1px solid #ddd !important;
}

.tab-pane {
    padding: 0px 25px 25px 25px !important;
}

a.btn:hover {
    color: white !important;
}

.MuiSwitch-colorPrimary.Mui-checked {
    color: #147dbf !important;
}

.MuiSwitch-colorPrimary.Mui-checked+.MuiSwitch-track {
    background-color: rgba(20, 125, 191, 0.5) !important;
}

.MuiSwitch-thumb {
    box-shadow: none !important;
}

.col-btn-with-input {
    display: flex;
    align-items: flex-end;
    padding-bottom: 8px;
}

.btn-with-input {
    height: 52px;
}

.label-with-texfield {
    margin-bottom: 0px !important;
}

.tableHeaderItem {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

.form-control:focus {
    border-color: #607d8b;
}

.btn.btn-label-brand {
    background-color: white !important;
    color: #147dbf !important;
}

.btn.btn-label-brand:hover,
.btn.btn-label-brand:focus {
    background-color: #147dbf !important;
    color: white !important;
}

.empty-icon {
    margin-top: 50px;
    font-size: 4.2rem;
}

.empty-text {
    margin: 50px 25px 50px 25px;
    font-size: 1.5rem;
}

.scroll::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

.scroll::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}

.scroll::-webkit-scrollbar-thumb {
    background: #808080;
    border: 0px none #ffffff;
}

.scroll::-webkit-scrollbar-thumb:hover {
    background: #808080;
}

.scroll::-webkit-scrollbar-thumb:active {
    background: #808080;
}

.scroll::-webkit-scrollbar-track {
    background: #ccc;
    border: 0px none #ffffff;
}

.scroll::-webkit-scrollbar-track:hover {
    background: #c0c0c0;
}

.scroll::-webkit-scrollbar-track:active {
    background: #c0c0c0;
}

.scroll::-webkit-scrollbar-corner {
    background: transparent;
}

.swal2-popup {
    border-radius: 15px !important;
}

.btn-filtros {
    margin-right: 5px;
}

.imagemUploaderBotaoRemover {
    width: 100%;
    border-radius: 0px 0px 10px 10px;
}

.imagemUploaderBackground {
    height: 250px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-size: cover !important;
}

.imagemUploaderMargem {
    margin-top: 15px;
    margin-bottom: 15px;
}

.buttonCenter {
    vertical-align: middle;
}

.MuiFormControl-root{
	width: 100%;
}

.form-group{
	margin-bottom: 24px;

	label{
		font-family: 'Inter', sans-serif;
		font-style: normal;
		font-weight: 500;
		font-size: 14px;
		line-height: 20px;
		color: #56585A;
		margin-bottom: 8px;
	}
}

.btn-primary {
	background: #0CA364 !important;

	&:hover{
		background: #107b4f !important;
	}

	&:active{
		background: #0f5a3b !important;
		border-color: #0f5a3b !important;
	}

	&:focus {
		background: #0f5a3b !important;
		border-color: #0f5a3b !important;
	}
}

.containerWhite{
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	row-gap: 16px;
}

.whiteBox{
	display: flex;
	flex: none;
	background-color: #fff;
	border-radius: 8px;
	height: 150px;
	width: 150px;
	padding: 24px;
	flex-direction: column;

	h3.title{
		font-family: 'Inter', sans-serif !important;
		font-style: normal !important;
		font-weight: 500 !important;
		font-size: 18px !important;
		line-height: 20px !important;
		color: #333333 !important;
		margin-bottom: 8px !important;
	}

	h4{
		font-family: 'Inter', sans-serif !important;
		font-style: normal  !important;
		font-weight: 500  !important;
		font-size: 30px  !important;
		line-height: 20px  !important;
		color: #000  !important;
		align-self: center;
		margin-top: auto;
		margin-bottom: auto;
	}
}