#Relatórios{
	.abas{
		display: flex;
		margin-left: 0px;
		bottom: -5px;
		position: relative;
		border-radius: 4px 4px 0 0 !important;

		div{
			height: 56px;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 16px 24px;
			border-radius: 4px 4px 0 0 !important;
			font-family: 'Inter', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #56585A;
			margin-bottom: 0;
			cursor: pointer;

			&:hover{
				background-color: #3840470e;
			}
		}

		.selected{
			background: #FFFFFF;
			font-family: 'Inter', sans-serif;
			font-style: normal;
			font-weight: 500;
			font-size: 16px;
			line-height: 24px;
			color: #0A1723;
			margin-bottom: 0;
		}
	}
}